Nivara_PCB/Nivara_PCB-backups/
# Nivara PCB backup files
Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/fp-info-cache
Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/#auto_saved_files#
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-28_183432.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-29_195548.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-29_200309.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-29_201335.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-29_204033.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-29_231107.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-30_182412.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-30_183413.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-30_184415.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-30_185813.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-30_235341.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-31_201102.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-31_202104.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-31_203106.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-31_204658.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-07-31_205222.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-04_154645.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-04_155702.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-04_173539.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-06_214133.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-07_000700.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-07_001426.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-07_193830.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-07_195515.zip
Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/Nivara_PCB-2025-08-07_200141.zip
Nivara_PCB/PCB_USB/fp-info-cache
Nivara_PCB/PCB_USB/PCB_USB-backups/PCB_USB-2025-08-06_223025.zip
Nivara_PCB/PCB_USB/PCB_USB-backups/PCB_USB-2025-08-06_223920.zip
Nivara_PCB/PCB_USB/PCB_USB-backups/PCB_USB-2025-08-07_194001.zip
Nivara_PCB/Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/_autosave-USB.kicad_sch
Nivara_PCB/Nivara_PCB/_autosave-ANALOG_OUT.kicad_sch
