Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/
# Nivara PCB backup files
Nivara_PCB/Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/Nivara_PCB/fp-info-cache
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/Nivara_PCB/#auto_saved_files#
Nivara_PCB/PCB_USB/fp-info-cache
Nivara_PCB/Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/_autosave-USB.kicad_sch
Nivara_PCB/Nivara_PCB/_autosave-ANALOG_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/~_autosave-Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/_autosave-Nivara_PCB.kicad_pcb
Nivara_PCB/PCB_USB/PCB_USB-backups/
Nivara_PCB/Nivara_PCB/_autosave-Nivara_PCB.kicad_prl
Nivara_PCB/PCB_USB/~PCB_USB.kicad_pcb.lck
Nivara_PCB/PCB_USB/_autosave-PCB_USB.kicad_sch
Nivara_PCB/PCB_USB/#auto_saved_files#
Nivara_PCB/PCB_USB/~PCB_USB.kicad_sch.lck
