Nivara_PCB/Nivara_PCB/Nivara_PCB-backups/
# Nivara PCB backup files
Nivara_PCB/Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/Nivara_PCB/fp-info-cache
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/Nivara_PCB/#auto_saved_files#
Nivara_PCB/PCB_USB/fp-info-cache
Nivara_PCB/Nivara_PCB/_autosave-untitled.kicad_sch
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_sch.lck
Nivara_PCB/Nivara_PCB/~Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/_autosave-USB.kicad_sch
Nivara_PCB/Nivara_PCB/_autosave-ANALOG_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/~_autosave-Nivara_PCB.kicad_pcb.lck
Nivara_PCB/Nivara_PCB/_autosave-Nivara_PCB.kicad_pcb
Nivara_PCB/PCB_USB/PCB_USB-backups/
Nivara_PCB/Nivara_PCB/_autosave-Nivara_PCB.kicad_prl
Nivara_PCB/PCB_USB/~PCB_USB.kicad_pcb.lck
Nivara_PCB/PCB_USB/_autosave-PCB_USB.kicad_sch
Nivara_PCB/PCB_USB/#auto_saved_files#
Nivara_PCB/PCB_USB/~PCB_USB.kicad_sch.lck


Nivara_PCB/Nivara_PCB/_autosave-Nivara_PCB.kicad_sch
Nivara_PCB/Nivara_PCB/A_0-10_IN.kicad_sch
Nivara_PCB/Nivara_PCB/A_0-32_IN.kicad_sch
Nivara_PCB/Nivara_PCB/A_I_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/A_V_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/ANALOG_IN.kicad_sch
Nivara_PCB/Nivara_PCB/ANALOG_IN.kicad_sch-bak
Nivara_PCB/Nivara_PCB/ANALOG_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/ANALOG_OUT.kicad_sch-bak
Nivara_PCB/Nivara_PCB/BUTTON.kicad_sch
Nivara_PCB/Nivara_PCB/D_IN.kicad_sch
Nivara_PCB/Nivara_PCB/D_IN.kicad_sch-bak
Nivara_PCB/Nivara_PCB/D_IN.kicad_sch-bak
Nivara_PCB/Nivara_PCB/design-block-lib-table
Nivara_PCB/Nivara_PCB/DRIVER_RS485.kicad_sch
Nivara_PCB/Nivara_PCB/DRIVER_RS485.kicad_sch-bak
Nivara_PCB/Nivara_PCB/fp-info-cache
Nivara_PCB/Nivara_PCB/NIVARA_BOARD.kicad_sch
Nivara_PCB/Nivara_PCB/NIVARA_BOARD.kicad_sch-bak
Nivara_PCB/Nivara_PCB/Nivara_PCB.kicad_sch-bak
Nivara_PCB/Nivara_PCB/NPN_IN.kicad_sch
Nivara_PCB/Nivara_PCB/NPN_IN.kicad_sch-bak
Nivara_PCB/Nivara_PCB/NPN_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/NPN_OUT.kicad_sch-bak
Nivara_PCB/Nivara_PCB/PNP_IN.kicad_sch
Nivara_PCB/Nivara_PCB/PNP_IN.kicad_sch-bak
Nivara_PCB/Nivara_PCB/PNP_OUT.kicad_sch
Nivara_PCB/Nivara_PCB/PNP_OUT.kicad_sch-bak
Nivara_PCB/Nivara_PCB/PowerSupply.kicad_sch-bak
Nivara_PCB/Nivara_PCB/RELAY1&2.kicad_sch
Nivara_PCB/Nivara_PCB/RELAY1&2.kicad_sch-bak
Nivara_PCB/Nivara_PCB/replicate_layout.log
Nivara_PCB/Nivara_PCB/
Nivara_PCB/Nivara_PCB/
Nivara_PCB/Nivara_PCB/
Nivara_PCB/Nivara_PCB/
Nivara_PCB/Nivara_PCB/
Nivara_PCB/Nivara_PCB/




